body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 10px;
}

h1 {
    -webkit-app-region: drag;
}

main,
fieldset {
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: #ffffffe3;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 15px;
    color: #000;
}

fieldset {
    margin-top: 10px;
    background-color: #ffffff96;
}

legend {
    text-align: left;
}

button {
    background: #fff;
    border: 1px solid rgb(231, 231, 231);
    padding: 7px 15px;
    transition: .2s background;
    color: #000;
}

button:hover {
    background: #ebebeb;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}